# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

###############

logs/
logs_jobs/
plots/
plots_temp/
plots_temp2/
memory_check.py
preprocess_mp.py
to_gadget_file.py

DEMNUni*/
_DEMNUni*/

*states*/
checkpoint.pt
runs*/


srs_env/

#TODO: readd these 2 later
commands/
job_scripts/
_job_scripts_backup/

requirements.txt
notes.txt

map2map/estimate_gpu_mem.py
fix_crops_filenames.py
create_validation.py
find_lattice.py
read_ic.py
map2map/data/fields_optim.py

comparison_plots.py
comparison_plots_zoom.py
comparison_plots_2.py
comparison_plots_3d.py
comparison_plots_OLD.py

compute_metrics.py
dataset_average_dis_std.py
pynbodytest.py
norm_test.py
log_properties.py

nbodykit_plot_hmf_backup(no_poisson).py
nbodykit_plot_hmf_backup(poisson).py
nbodykit_plot_hmf_fix_attempt.py
nbodykit_plot_hmf_fix_attempt2.py
nbodykit_plot_hmf_OLD.py
inference.py

map2map/check_inference_speed.py
map2map/train_no_dist.py
map2map/fields_no_dist.py
map2map/*no_dist*
map2map/data/*no_dist*
map2map/data/*ignore_target*
map2map/*ignore_target*
map2map/models/AE.py

*.png
*backup*
*npz